@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.sidebar-link {
    cursor: pointer;
}

:where(
    a[href],
    button:not(:disabled),
    input:is([type='button'], [type='submit'], [type='reset']):not(:disabled),
    summary,
    [role='button']:not([aria-disabled='true']),
    [onclick],
    [data-action],
    [tabindex]:not([tabindex='-1'])
) {
    cursor: pointer;
}

:where(
    button:disabled,
    input:is([type='button'], [type='submit'], [type='reset']):disabled,
    [role='button'][aria-disabled='true']
) {
    cursor: not-allowed;
}

.sidebar-link:hover {
    background-color: rgb(226 232 240);
    color: rgb(15 23 42);
}

.sidebar-link:hover .sidebar-icon {
    background-color: rgb(203 213 225);
}
